.main {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.field {
  padding: 4rem 0;
  background-color: rgba(green, 0.7);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.field-item {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.field-mini {
  padding: 1rem;
  border: 1rem solid green;
  display: grid;
  place-items: center;
}

.black-squares-list {
  margin-top: 2rem;
  display: flex;
  column-gap: 2rem;
  flex-wrap: wrap;
}

.black-square {
  padding: 4rem;
  background-color: rgba(#000000, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 2rem;

  & > p {
    color: #fff;
  }
}
