.main {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.field {
  padding: 4rem 0;
  background-color: rgba(green, 0.7);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.field-item {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.field-mini {
  padding: 1rem;
  border: 1rem solid green;
  display: grid;
  place-items: center;
}

button {
  background-image: linear-gradient(#42a1ec, #0070c9);
  border: 1px solid #0077cc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;

  &:disabled {
    cursor: default;
    opacity: 0.3;
  }

  &:hover {
    background-image: linear-gradient(#51a9ee, #147bcd);
    border-color: #1482d0;
    text-decoration: none;
  }

  &:active {
    background-image: linear-gradient(#3d94d9, #0067b9);
    border-color: #006dbc;
    outline: none;
  }

  &:focus {
    box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
    outline: none;
  }
}

.black-squares-list {
  margin-top: 2rem;
  display: flex;
  column-gap: 2rem;
  flex-wrap: wrap;
}

.black-square {
  padding: 4rem;
  background-color: rgba(#000000, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 2rem;

  & > p {
    color: #fff;
  }
}
