.main {
  padding: 2rem;
}

.square-list {
  margin-top: 2rem;

  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.square {
  height: 5rem;
  width: 5rem;
  background-color: orangered;

  display: grid;
  place-items: center;
}
