.dogs-container {
  margin: 2rem;

  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.kvadratas,
.apskritimas {
  height: 100px;
  width: 100px;
  border: 1px solid #000;

  display: grid;
  place-items: center;
}

.apskritimas {
  border-radius: 50%;
}

.bala {
  width: 40rem;
  height: 4rem;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.porinisNeporinis {
  display: flex;
  column-gap: 6rem;
}

.flex {
  display: flex;
  column-gap: 2rem;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}
